{% extends 'docbase.html' %}
{% load static %}
{% block title %}{{title}}{% endblock title %}

{% block DataArea %}
<div class="row ">
    <div class="col-md-10  ">
    <h4>Новый приходный документ</h4></div>
    <div class="col-md-1 mb-1" >
      </div>
</div>
<div style="display:block;overflow-y: auto; height:550px;"  >
<table class="table table-bordered  table-hover table-sm ">
    <thead class="thead-dark "><tr>
    <th class="thead-dark text-center"  >Номер документа</th>
    <th class="text-center">Дата документа</th>
   <th class="text-center">Поставщик</th>
        <th class="thead-dark"></th>

    </tr></thead>
<tr class="bg-info  ">
    <td>
    <form action="" method="post" enctype="multipart/form-data">
   {% csrf_token %}
    <div class="form-row ">
<div class="col ">
    {{form.nomerdoc}}
</div>
<td>
  <div class="col ">
      <span class="mt-1"> {{form.datadoc}}</span>
</div>
</td>
 <td>
  <div class="col ">
      <span class="mt-1"> {{form.dealer}}</span>
</div>
</td>
<td>
<div class="text-center ">
     <button type="submit" class="btn btn-warning  shadow btn-sm mt-1">Продолжить</button>
     <a href="{% url 'DocList' %}" class="btn btn-secondary shadow btn-sm mt-1">Отмена </a>
</div>

</td></tr>




</table>
 </div>
<div class="pagination text-end">

</div>
{% endblock DataArea %}

